%h1 this is the placeholder for the stocks#index
%br/


%table.table.table-striped
  %tr
    %th Stock
    %th Bid
    %th +/-%
    - @stock.each do |stocks|
      - mystock = StockQuote::Stock.quote(stocks.title)
      %tr
        %td= link_to stocks.title, stocks
        %td= mystock.bid
        - if mystock.percent_change.include? "-"
          %td.red= mystock.percent_change
        - else
          %td.green= mystock.percent_change
