%table.table.table-striped
  %caption= Time.now.year+1
  %thead
    %tr
      %th Estimates
      %th Value
  %tbody
    %tr
      %th{:scope => "row"} Price Paid
      %td last_trade_price_only
    %tr
      %th{:scope => "row"}  Earnings/share
      %td earnings_share
    %tr
      %th{:scope => "row"} Price/Earnings
      %td pe_ratio
    %tr
      %th{:scope => "row"} Dividend
      %td dividend_yield
    %tr
      %th{:scope => "row"} Profit margin
      %td
    %tr
      %th{:scope => "row"} Earnings/share
      %td eps_estimate_current_year
%br/
.row
.text-center.col-md-12
  %table.table.table-striped
    %caption Recommendations:
    %thead
      %tr
        %th Value
        %th Discount
    %tbody
      %tr
        %th{:scope => "row"} Estimated Price
        %td (last_trade_price_only*eps_estimate_next_year)
      %tr
        %th{:scope => "row"}  Rebate
        %td eps_estimate_next_year
